@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --display-type-flex: flex;
}
/* General Reset and Settings */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    font-weight: 0.9rem;
}

h1,h2,h3,h4{
    line-height: 1.2;
}

p{
    line-height: 1.3;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}